body{
    --color-bg: #18191C;
    --color-div-bg:rgba(30, 32, 35,.4);
    --color-Paragraph: whitesmoke;
    --color-green: rgb(74, 224, 139);
    --color-green-transparent: rgba(74, 224, 139,.5);
    --color-blue:  #1a5cff ;
    --color-blue-transparent: 26, 92, 255;
     
}
