body{
    background-color: var(--color-bg);


    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;


    font-family: 'Poppins', sans-serif;
    color: white;


    ::-webkit-scrollbar{width: 0;}
    
    main{
        width: 100%;
        height: 100%;
        
        scroll-snap-type:  y mandatory;
        overflow-y: scroll;

        ul{
            list-style: none;
            li{
                display: inline-block;
            }
        }
        section{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100vh;
            
            scroll-snap-align: start;
            background-color: #18191C;

            &:nth-child(1){
                // background-image: url("/assets/Hero.jpg") ;
                background-image:
                linear-gradient(to top, black, transparent),
                url('/assets/Hero.jpg');
                background-size: cover;
                background-repeat: no-repeat,repeat;
            }
            &:nth-child(2){
                background:linear-gradient(to bottom, rgba(0, 0, 0,0.8) 0% 1px, transparent),
                linear-gradient(to top, black, transparent),
                url('/assets/Hero2.jpg');
                background-size: cover;
                background-repeat: no-repeat,repeat;
            }
            &:nth-child(3){
                background-image:
                linear-gradient(to top, black, transparent),
                linear-gradient(to bottom, black, transparent),
                url('/assets/hero3.jpg');
                background-size: cover;
                background-repeat: no-repeat,repeat;
            }
            &:nth-child(4){
                background-image:
                linear-gradient(to top, black, transparent),
                linear-gradient(to bottom, black, transparent),
                url('/assets/hero4.jpg');
                background-size: cover;
                background-repeat: no-repeat,repeat;
            }
        }

    }
}