@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	/* @apply text-white bg-background-primary h-[100%] bg-heroBG */
	@apply h-[100%] bg-background-primary bg-[url('/circleAbstract.svg'),url('/lineAbstract.svg'),url('/bgAbstract.svg')] text-white;
	/* background-attachment: fixed; */

	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.wrapper {
	@apply max-tablet:w-[90%] m-auto h-auto w-[80%] max-w-[100rem];
}

/* RESET */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: content-box;
	transition: 150ms;
}

html {
	color-scheme: dark light;
}

:is(h1, h2, h3, h4, h5, h6) {
	@apply text-balance;
}
:is(p, ol, li, figcaption, caption, a) {
	@apply max-w-[80ch] text-wrap;
}

:is(a) {
	text-decoration: none;
}

:is(img, picture, svg, video) {
	@apply block max-h-full object-cover;
}

:is(ol, li) {
	@apply list-inside;
}

/* 

  Force Colored

*/
:is(button, a) {
	/* @apply text-blue-600 outline-[0.0625em ] outline-blue-600; */
	outline: 0.0625em solid transparent; /* 1px */

	&:is(:focus-visible) {
		@apply text-blue-600 outline-[0.1875em] outline-blue-600;
		/* outline: 0.1875em solid transparent; /* 3px */
	}
}

/* :is(button, a):is(:hover, :focus) {
	@apply text-red-600;
} */

:is(a, a:visited, a:active) {
	@apply bg-none;
	text-decoration: none;
	/* &:is(:hover) {
		text-decoration-thickness: 100px;
		text-decoration: underline solid red;
	} */
}

/* @media (forced-colors: active) {
  svg: ;
} */

/* FONTS */
@font-face {
	font-family: "Hanson";
	src:
		url("/fonts/Hanson-Bold.ttf") format("truetype"),
		url("/fonts/Hanson-B+old.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

.gradient-border {
	position: relative;
	overflow: hidden;
}
.gradient-border::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 3px solid transparent;

	background: linear-gradient(to right, #000, #666666) border-box;
	-webkit-mask:
		linear-gradient(#fff 0 0) padding-box,
		linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.gradient-border:hover::before {
	opacity: 1;
}

/* NOT EXISTING */

.rotate-img-in:hover > img {
	transform: perspective(1000px) rotateX(0deg) rotateY(0) rotateZ(0deg) scale(0.7);
}
.rotate-img-in > img {
	transform: perspective(1000px) rotateX(30deg) rotateY(0) rotateZ(0deg) scale(0.7);
}
